<div class="hero-unit editable">
    <h1>Activity reports</h1>

    <p class="pull-right">INRIA activity reports</li>

 <ul>
<p></p><BR>
        <li>2010 <a href="http://irabot.inrialpes.fr/RA2010/triskell/triskell.pdf" target="_self">[PDF]</a> <a href="http://irabot.inrialpes.fr/RA2010/triskell/uid0.html" target="_self">[HTML]</a></li>
<li>2009
    <a href="http://ralyx.inria.fr/2009/Raweb/triskell/triskell.pdf" target="_self">[PDF]</a>
    <a href="http://ralyx.inria.fr/2009/Raweb/triskell/uid0.html" target="_self">[HTML]</a></li><li>2008
    <a href="ra/2008/triskell/triskell.pdf" target="_self">[PDF]</a>
    <a href="ra/2008/triskell/uid0.html" target="_self">[HTML]</a></li><li>2007
    <a href="http://www.inria.fr/rapportsactivite/RA2007/triskell/triskell.pdf">[PDF]</a>
    <a href="http://ralyx.inria.fr/2007/Raweb/triskell/uid1.html" target="_self">[HTML]</a>
</li>
<li>2006 <a href="http://www.inria.fr/rapportsactivite/RA2006/triskell/triskell.pdf">[PDF]</a>
    <a href="http://ralyx.inria.fr/2006/Raweb/triskell/uid1.html" target="_self">[HTML]</a></li>
<li>2005 <a href="ra/2005/triskell.pdf">[PDF]</a> <a href="ra/2005/triskell_tf.html" target="_self">[HTML]</a></li>
</ul>
</div>

<iframe name="triskell_timeline" src="triskell_timeline.html" width="100%" height="800px" scrolling="auto" frameborder="0"/>
	 



