<div class="hero-unit editable">
    <h1>Bibliography</h1>
    <p class="pull-right">Bibliography of the Triskell team</p>

<iframe name="triskell_timeline" src="http://haltools.inria.fr/Public/afficheRequetePubli.php?labos_exp=Triskell&typdoc=('ART_ACL','ART_SCL','COMM_ACT','COMM_SACT','CONF_INV','OUVS','COVS','DOUV','REPORT','PATENT','OTHER','ART_VULG','PRES_CONF','MEM','THESE','HDR','COURS','UNDEFINED','autre')&CB_ref_biblio=oui&langue=Francais&tri_exp=annee_publi&tri_exp2=typdoc&tri_exp3=date_publi&ordre_aff=TA&Fen=Aff&css=../css/styles_publicationsHAL.css" width="100%" height="21750px" scrolling="auto" frameborder="0"/>
</div>

