<div class="hero-unit editable aloha-editable" id="84fdb316-2f5b-8a47-7f6a-700a472e6423" style="" contenteditable="true"> 
 <h1>Open positions</h1> 
 <p><br class="aloha-end-br" /></p> 
 <p>nouvelles offres d'emploi</p> 
 <p><br class="aloha-end-br" /></p> 
 <p><br class="aloha-end-br" /></p>
 <p><br class="aloha-end-br" /></p>
 <p><br class="aloha-end-br" /></p>
 <p><br class="aloha-end-br" /></p> 
 <p><br class="aloha-end-br" /></p> 
 <p><br class="aloha-end-br" /></p> 
 <p><br class="aloha-end-br" /></p> 
 <p class="pull-right">PhD poistions</p> 
</div>