<div class="hero-unit editable">
    <h1>Software</h1>

    <p class="pull-right">Software developed in the team</p>
</div>

<!-- Common Type Definition -->
<div class="row">
    <div class="span2 heading-box">
        <h3><a target="_blank"
               href="http://www.kermeta.org">Kermeta</a></h3>
    </div>
    <div class="span6">
        <h4>Breathe life into your metamodels</h4>
        <p>Kermeta workbench is a powerful metaprogramming environment based on an
            object-oriented <span class="link-external"><a href="http://en.wikipedia.org/wiki/Domain_Specific_Language" target="_self">DSL</a></span> (Domain Specific Language) optimized for metamodel
            engineering.<br></p>

        <p>Kermeta features a comprehensive environment for MetaModel Engineering activities running in <span class="link-external"><a href="http://www.eclipse.org/" target="_self">Eclipse</a></span>, including:</p>

        <ul><li> specification of abstract syntax, static semantics (OCL) and dynamic semantics with connection to the concrete syntax</li><li>model and meta-model prototyping and simulation<br></li><li><a title="Model transformation use case" href="http://www.kermeta.org/overview/model_transformation" target="_self">model transformation</a></li><li>aspect weaving.<br></li></ul>
     </div>
</div>
<hr/>
<div class="row">
    <div class="span2 heading-box">
        <h3><a target="_blank"
               href="http://www.kevoree.org">Kevoree</a></h3>
    </div>
    <div class="span6">
        <h4>Distributed Models@Runtime</h4>
        <p>Kevoree project aims at enabling distributed reconfigurable software development.
        Build around a component model, Kevoree leverages model@runtime approach to offer tools to build, adapt
        and synchronize distributed systems.</p>
    </div>
</div>
